<h2>Modify Coursework</h2>
<form action="/users/edit" method="POST">
  <div class="form-group">
    <label for="name">Module Name:</label>
    <input type="text" class="form-control" name="module_name" id="module_name" value="{{ result.module_name }}" placeholder="{{ result.module_name }}">
  </div>
  <div class="form-group">
    <label for="name">Module Code:</label>
    <input type="text" class="form-control" name="module_code" id="module_code" value="{{ result.module_code }}" placeholder="{{ result.module_code }}">
  </div>
  <div class="form-group">
    <label for="name">Coursework Title:</label>
    <input type="text" class="form-control" name="coursework_title" id="coursework_title" value="{{ result.coursework_title }}" placeholder="{{ result.coursework_title }}" readonly>
  </div>
  <div class="form-group">
    <label for="name">Due Date:</label>
    <input type="text" class="form-control" name="due_date" id="due_date" value="{{ result.due_date }}" placeholder="{{ result.due_date }}">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

{{> messages }}
<p><a href="/users/{{username}}" class="btn btn-secondary">View Courseworks</a></p>
