{{> messages }}
{{#if username}}
<div class="row justify-content-center">
<div class="col-auto">
  <div class="panel panel-default">
    <h2>{{ username }}'s Courseworks{{#if username}}<a href="/users" class="btn btn-secondary float-right">Add Coursework</a>{{/if}}</h2>
    <table class="table table-responsive table-hover">
      <thead>
        <th>Module Name</th>
        <th>Module Code</th>
        <th>Coursework Title</th>
        <th>Due Date</th>
        <th>Milestones</th>
        <th>Share Coursework</th>
        <th></th>
      </thead>
      {{#coursework}}
      <tbody>
        <tr data-toggle="collapse" id="table{{@index}}" data-target=".table{{@index}}">
          <td>{{module_name}}</td>
          <td>{{module_code}}</td>
          <td>{{coursework_title}}</td>
          <td>{{due_date}}</td>
          <td><button class="btn btn-default btn-sm">View</button></td>
          <td><a class="btn btn-default btn-sm" href="/users/{{../username}}/{{coursework_title}}" target="_blank">Share</a></td>
        </tr>
        <tr class="collapse table{{@index}}">
          <td colspan="999">
            <div>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Milestone Date</th>
                    <th>Milestone Description</th>
                  </tr>
                </thead>
                {{#milestones}}
                <tbody>
                  <tr>
                    <td>{{milestone_date}}</td>
                    <td>{{milestone_description}}</td>
                  </tr>
                </tbody>
                {{/milestones}}
              </table>
            </div>
          </td>
        </tr>
      </tbody>
      {{/coursework}}
    </table>
  </div>
</div>
</div>
{{/if}}
